:host {
    
    & > .title {
        & > #title {
            color: var(--uca_green);
            text-align: center;
        }
        & > #subtitle {
            color: var(--uca_green);
            text-align: center;
            font-style: italic;
            margin-top: 0;
        }
    }

    & #date {
        font-size: small;
        font-style: italic;
    }

    & > div {
        text-align: center;
        color: var(--uca_gray);

        & > #mail {
            font-style: italic;
        }
    }
}