@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif-Oblique.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif-BoldOblique.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'NotoColorEmoji.ttf';
	src: local("Noto Color Emoji"),
	     src("/assets/font/NotoColorEmoji.ttf") format('ttf')
}

main {
    font-family: "Computer Modern Sans", "Noto Sans Math", "FreeSerif", "Noto Color Emoji";
}