@import "MWL@2026/presentation/styles/font.css";

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif-Oblique.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/CMUSansSerif-BoldOblique.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

main {
	/* Symbols is defined by MWL */
    font-family: "Symbols", "Computer Modern Sans";
}