body.overview main {
    display: grid;
    grid-template-columns: repeat( var(--nb_frame) , calc(100vw/ var(--nb_frame ) ) );
    grid-auto-rows: calc(100vw / var(--nb_frame ) * 9 / 16 );
    gap: 0px;

    top: 0px;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    & .ws-frame {
        transform-origin: top left;
        transform: scale( calc( var(--scale) / var(--nb_frame) ) );
    }

    & frame-section, frame-subsection, frame-subsubsection {
        display: contents;
    }
}